.main_primary .main_primary_inner{padding:0 60px;}


/**/
.indNews .info .tet{padding:30px 30px 30px;font-size:18px;}
.indNews .info .tet .add{font-size:40px; width:40px; height:40px; bottom:10px; margin-left:-20px;}


.sublist .subl_con{padding-left:0;}
.sublistWrap{padding-right:330px;}
.sublistCon{padding-left:0;}
.sublistRight{right:0;}



.header .menu li .allModels .am_car_box .r_img{width:220px;}
.header .menu li .allModels .am_car_box .r_img .itet{bottom:-10px; font-size:12px;}
.header .menu li .allModels .am_car_box .r_img .ibtn{bottom:-30px;}
.header .menu li .allModels .am_car_box .r_img .ibtn a{font-size:12px;}

.header .menu li .allModels .am_car_box .r_tet .tile{ font-size:14px;} 
.header .menu li .allModels .am_car_box .r_tet .tile .big{font-size:18px;}
.header .menu li .allModels .am_car_box .r_tet .tet{font-size:12px; display:none;}