h1,h2,h3,h4,h5,h6{line-height:140%;}
p,blockquote{line-height:160%}

.marTop{margin-top:10px;}
.inner{padding:0 15px;}
.inner .grid{margin:0 0 0 -15px;}
.grid .col{padding:15px 0 0 15px;}
.grid .col.n_3{width:100%;}
.grid .col.n_6.all{width:100%;}

.header .topNav li a{padding:0 12px;}
.header .topNav .shijia{ display:none;}
.header .banner{height:165px;}
.header .banner .arrow a {
width: 19px;
height:39px;}

.footer .top_c_logo{ width:60px; height:60px; top:-30px; margin-left:-30px;}
.footer .footer_news{ padding:50px 20px 0; font-size:14px;}




.footer .cp{padding:30px 0;}
.footer .f_tet .tile{ font-size:18px; }
.footer .f_tet{ height:auto;}
.footer .member_join{margin-bottom:10px;}
.footer .member_join li{margin-top:20px;}


/**/
.indNews{padding-bottom:60px;}
.indNews .con{padding:50px 0 30px;}
.indNews .con .ind_tile{font-size:30px;}


.sublist .subl_con li{ font-size:12px; padding:0 14px;}

/**/
.btnlink_group .btnlink{font-size:14px;}


/**/
.main_primary{height:340px;} /*430px*/
.main_primary .main_primary_inner .con{padding:35px 0 15px;}
.main_primary .main_primary_inner .con .ind_tile{font-size:24px;}

.main_primary_tet .tile{font-size:18px;}
.main_primary_tet .tile sup{font-size:12px;}
.main_primary_tet .tile .big{font-size:28px;}
.main_primary_tet .tet{ font-size:14px;}
.text_t_l{margin-top:40px;}
.text_c_l{margin-top:100px;}
.text_c_r{margin-top:100px;}/*130px*/
.text_t_r{margin-top:20px;}
.text_b_r{margin-top:100px;}
.text_b_l{margin-top:100px;}
.text_t_c{margin-top:30px;}

.text_c_c{margin-top:130px;}/*160px*/


.text_b_r.bottom{margin-top:100px;}

/**/
.domNoiphone{display:none;}


.frm_main .frcol_2 .frmc3{ width:100%; padding-right:0px; margin-bottom:10px;}

.jobwarp .jobsm .tile{ font-size:34px;height:60px;}
.jobwarp .jobsm .tet{ font-size:16px;}
.jobwarp .jobsm .btns{ font-size:16px;}


.jobBoxLayer .blwarp{ padding:10px 12px;}
.jobBoxLayer .sendBtn a{ font-size:14px;}

.swiperDjs{height:430px; padding:0 0 30px;}
.swiperDjs .swiper-slide {width: 80px;height:70px;}
.swiperDjs .swiper-nav{height:100px;bottom:46px;background:url("../images/slide_djsline.jpg") repeat-x 0px 54px;}
.swiperDjs .swiper-nav .swiper-slide span{width:20px; height:20px;}
.swiperDjs .swiper-nav .active-nav span{width:32px; height:32px; margin-top:-7px;}
.swiperDjs .swiper-nav .swiper-slide p{font-size:14px; margin-top:4px;}

.swiperDjs .swiper-pages .djs_sm ul{ width:100%; padding:0 10px;}
.swiperDjs .swiper-pages .djs_sm h2{ font-size:18px;}
.swiperDjs .swiper-pages .djs_sm p{ font-size:14px; line-height:170%;}


.submainText{font-size:14px;}


@media only screen and (max-width:329px){
.header .banner{height:130px;}
}

.paddingtop120{padding-top:0px;}