<div class="footer">
  <div class="top_c_logo"><img src="__JC__/images/logo_p.png"></div>
  <div class="footer_news">
    <div class="" style="color:#FFF; text-align:center;">
      专注绿色动力，贡献环保事业
    </div>
  </div>
  <div class="footer_con">
    <div class="inner">
      <div class="grid">
        <div class="col n_4">
          <div class="f_tet f_contact">
            <div class="tile">联系雷丁</div>
            <p class="tet">中国 · 山东 · 潍坊 · 昌乐309国道雷丁工业园<br>官方网址：www.levdeo.com</p>
            <p class="tet">全国服务电话：400-100-5111<br>加盟热线： 0536-6666666</p>
            <p class="tet"><a href="joinus.html">在线加盟</a>  ┃  <a href="talent.html">人才招聘</a>  ┃  <a href="complaint.html">投诉建议</a></p>
            <ul class="share">
              <li class="weixin"><a href="javascript:void(0);"><img src="__JC__/images/icon_weixin.png"><p>微信</p></a><span class="weixinqrcode"><img src="__JC__/images/wechat_.jpg"></span></li>
              <li><a href="http://weibo.com/levdeo" target="_blank"><img src="__JC__/images/icon_weibo.png"><p>新浪微博</p></a></li>
             <li class="weixin"><a href="javascript:void(0);"><img src="__JC__/images/u-caricon.png"><p>U-Car APP</p></a><span class="weixinqrcode"><img src="__JC__/images/qrcode_U_Car.png.jpeg"></span></li>
              
            </ul>
          </div>
        </div>
        <div class="col n_4">
          <div class="f_tet f_info">
            <div class="tile">雷丁车友会</div>
            <div class="member_join">
              <ul>
                <li>
                  <span class="img"><img src="__JC__/images/f_qa.jpg"></span>
                  <h4><a href="leiding_club.html">雷丁车友会</a></h4>
                  <p>雷丁车友会是雷丁电动汽车精心搭建的雷丁电动汽车车主专属服务平台，该平台提供购车...</p>
                </li>
                <li>
                  <span class="img"><img src="__JC__/images/f_join.jpg"></span>
                  <h4><a href="member_register.html">会员申请</a></h4>
                  <p>欢迎成为雷丁的尊崇会员，您可以在雷丁俱乐部可以及时获取我们最新的新车信息...</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col n_4">
          <div class="f_tet f_map">
            <div class="tile">地图声明</div>
            <!--118.897495,36.724285-->
            <div class="map"><a href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D%E9%9B%B7%E4%B8%81%E4%BA%A7%E4%B8%9A%E5%9B%AD" target="_blank"></a></div>
            <!--<div class="morelink">
              <select id="id_morelink" name="">
                <option value="1">经销商加盟</option>
                <option value="2">经销商加盟</option>
                <option value="3">经销商加盟</option>
                <option value="4">经销商加盟</option>
              </select>
              <span class="angle_down">&or;</span>
            </div>-->
            <div class="a_morelink">
              <a href="sitemap.html">网站地图</a> ┃ <span style="color:#FFF;">资料平台（<a href="http://pan.baidu.com/s/1jInxzkM" target="_blank" title="资料下载平台">经销商</a>  <a href="http://pan.baidu.com/s/1bBKguq" target="_blank" title="资料下载平台">业务经理</a>)</span> ┃ <a href="javascript:void(0);" onClick="openMobileslink();">经销商管理系统</a>┃ <a href="http://mail.levdeo.com/" target="_blank">企业邮箱</a> ┃ <a href="statement.html">隐私声明</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cp">
    <div class="levdeo"><img src="__JC__/images/levdeo.png"></div>
    <div class="tet">Copyright©2015.Byvin Corporation, All right reserved.  <span style="display:inline-block;">鲁IC备13004001号</span><span style="display:inline-block;">山东梅拉德能源动力科技有限公司</span><span style="display:none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254754885'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254754885%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span></div>
  </div>
</div>

<script src="__JC__/js/jquery.js"></script>
<script src="__JC__/js/main.js"></script>
</body>
</html>