  <div class="banner">
    <div class="swiper-container swiper-nested-1">
      <div class="pagination pagination-nested-1"></div>
      <div class="swiper-wrapper">
         <div class="swiper-slide"><div class="info" style="background-image:url('__UPLOAD__/contents/2016/08/57bcfe80f05fe.jpg');"></div></div><div class="swiper-slide"><div class="info" style="background-image:url('__UPLOAD__/contents/2016/12/5861b3e57ac33.jpg');"></div></div><div class="swiper-slide"><div class="info" style="background-image:url('__UPLOAD__/contents/2016/03/56dfe18cefe86.jpg');"></div></div><div class="swiper-slide"><div class="info" style="background-image:url('__UPLOAD__/contents/2015/11/5656bc52514cc.jpg');"></div></div><div class="swiper-slide"><div class="info" style="background-image:url('__UPLOAD__/contents/2016/12/58574ef8e306f.jpg');"></div></div><div class="swiper-slide"><div class="info" style="background-image:url('__UPLOAD__/contents/2016/12/58589c9f7d94b.jpg');"></div></div>      </div>
    </div>
    <div class="arrow">
      <a class="arrow-left" id="arrow-left" href="index_temp.html"></a>
	  <a class="arrow-right" id="arrow-right" href="index_temp.html"></a>
    </div>
  </div>
  
 
<section class="indNews">
  <div class="inner">
    <div class="con">
      <div class="ind_tile">新闻&amp;活动</div>
      <p class="ind_tet">“Liability Technology Future ”责任、科技、未来是雷丁自成立之日起，坚定奉行的品牌愿景<br>致力于打造国民电动汽车高端品牌，造老百姓买得起的国民用车。</p>
      <div class="btnlink_group">
        <a href="news.html" class="btnlink">雷丁新闻&gt;</a><a href="activity.html" class="btnlink">雷丁活动&gt;</a>
      </div>
	</div>
    <div class="grid">
 <div class="col n_3">
        <div class="info">
          <a href="content/details_27_307.html">
          <div class="tet">行业新销冠强势领跑济南展，雷丁成微型电动汽车真正领导者！<span class="add">+</span></div>
          <img src="__UPLOAD__/contents/2016/12/5858ae2236782.jpg">
          </a>
        </div>
      </div><div class="col n_3">
        <div class="info">
          <a href="content/details_27_225.html">
          <div class="tet">行业龙头再发力，雷丁驱动中国电动汽车产业全面升级! <span class="add">+</span></div>
          <img src="__UPLOAD__/contents/2016/09/57c8ea9eca4e4.jpg">
          </a>
        </div>
      </div><div class="col n_3">
        <div class="info">
          <a href="content/details_6_166.html">
          <div class="tet">微型电动车变革，雷丁携供应商欲建行业第一条微型电动车产业带<span class="add">+</span></div>
          <img src="__UPLOAD__/contents/2015/12/5681d9e462118.jpg">
          </a>
        </div>
      </div><div class="col n_3">
        <div class="info">
          <a href="content/details_6_117.html">
          <div class="tet">山东省委书记姜异康调研雷丁电动汽车强调：坚持创新发展 创造知名品牌<span class="add">+</span></div>
          <img src="__UPLOAD__/contents/2015/05/555936c61aeab.jpg">
          </a>
        </div>
      </div>    </div>
  </div>
</section>



<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_c_r">
      <p class="tile"><span class="big">雷丁S50</span>不止是电动汽车，更是纯正SUV</p>
      <p class="tet">雷丁S50电动SUV，集顶级科技，厚积薄发，<br>
        将新能源技术与纯正SUV完美合一，<br>
        引领新能源汽车进化，创领卓越里程。</p>
      <div class="btnlink_group">
        <a href="S50.html" class="btnlink">了解详情&gt;&gt;</a><a href="testdrive.html" class="btnlink">预约试驾&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url('__JC__/images/mp_index_s50_new.jpg');"></div>
</section>

<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_c_l">
      <p class="tile"><span class="big">雷丁小骑士</span>意境，卓尔不群</p>
      <p class="tet">整车造型新潮，展现精致流体美学设计，<br>
        人性化的车内科技散发着独特的魅力，<br>
        让国民消费者真正找到归属。</p>
      <div class="btnlink_group">
        <a href="knight.html" class="btnlink">了解详情&gt;&gt;</a><a href="testdrive.html" class="btnlink">预约试驾&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url('__JC__/images/mp_index_knight.jpg');"></div>
</section>

<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_t_r">
      <p class="tile"><span class="big">雷丁小王子</span>见证品质，岂止于大 </p>
      <p class="tet">整车造型动感凌厉、沉稳踏实兼具动感时尚，<br>
        无论在性能还是产品品质方面都领先于其他同类车型，<br>
        从容、成熟、沉稳，迷人魅力无法抗拒。</p>
      <div class="btnlink_group">
        <a href="V60.html" class="btnlink">了解详情&gt;&gt;</a><a href="testdrive.html" class="btnlink">预约试驾&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url('__JC__/images/mp_index_03_new.jpg');"></div>
</section>

<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_c_l">
      <p class="tile"><span class="big">雷丁D80</span>型于寻常外</p>
      <p class="tet">动感是天赋个性，<br>
        科技是超凡本能，<br>
        动感与科技交相辉映，彰显杰出性能。</p>
      <div class="btnlink_group">
        <a href="D80.html" class="btnlink">了解详情&gt;&gt;</a><a href="testdrive.html" class="btnlink">预约试驾&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url('__JC__/images/mp_index_d80.jpg');"></div>
</section>

<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_c_r">
      <p class="tile"><span class="big">雷丁D70</span>心自由 心生活</p>
      <p class="tet">时尚完美造型，个性独特。细致入微的关怀，<br>
        为每一次出行增加光彩，<br>
        释放自由。自由如我，让生活绽放精彩。</p>
      <div class="btnlink_group">
        <a href="D70.html" class="btnlink">了解详情&gt;&gt;</a><a href="testdrive.html" class="btnlink">预约试驾&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url('__JC__/images/mp_index_02_new.jpg');"></div>
</section>


<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_t_l">
      <p class="tile"><span class="big">雷丁D50</span>为生活而生</p>
      <p class="tet">欧系风格外观，精细雕琢的细节，独到人性化设计，<br>
        极致的生活出行新体验，D50，<br>
        雷丁新一代两厢电动汽车，彰显驾驭每一秒的无穷魅力。</p>
      <div class="btnlink_group">
        <a href="D50.html" class="btnlink">了解详情&gt;&gt;</a><a href="testdrive.html" class="btnlink">预约试驾&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url('__JC__/images/mp_index_01_new.jpg');"></div>
</section>

<!--
<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_t_r" style="text-shadow:0px 0px 4px #000000;color:#FFF">
      <p class="tile"><span class="big">品牌视频</span>行业新销冠，真正领导者</p>
      
      <div class="btnlink_group">
        <a href="about/video.html" class="btnlink" style="text-shadow:none">了解详情&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url(__JC__/images/mp_index_nvideo.jpg);"></div>
</section>


<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_b_r" style="text-shadow:0px 0px 4px #000000;">
      <p class="tile"><span class="big">雷丁科技</span>iPower<sup>TM</sup> iControl<sup>TM</sup> iLife<sup>TM</sup>  U-Cari  i-MMD HPS</p>
      <p class="tet">雷丁整合乘用车研发与新能源从业经验的核心技术专家队伍，创造了雷丁国际领先的<br>
      iPower动力系统、iControl电机及整车核心控制系统、iLife全生命周期电池管理系统、<br>
      U-Cari车互联系统、基于雷丁三电技术打造的i-MMD双擎锂电混动技术、以及HPS高速永<br>
      磁同步电机驱动系统，也为每一款出厂的电动车提供着稳定安全且耐久的电池管理技术。</p>
      <div class="btnlink_group">
        <a href="technology.html" class="btnlink">了解详情&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url(__JC__/images/mp_index_05.jpg);"></div>
</section>

<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_t_r" style="text-shadow:0px 0px 4px #000000;color:#FFF">
      <p class="tile"><span class="big">雷丁制造</span></p>
      <p class="tet">冲压、焊装、涂装、总装<br>
      作为未来新能源汽车品牌，雷丁品牌采用了全新的研发理念<br>
      为客户价值为导向，融合欧洲的QASPC理念<br>
      （品质Quality、先进Advanced、安全Safety、实用Practical<br>
      舒适Comfortable）形成了先进的研发理念体系</p>
      <div class="btnlink_group">
        <a href="technology.html" class="btnlink" style="text-shadow:none">了解详情&gt;&gt;</a>
      </div>
    </div>
  </div>
  <div class="mbg" style="background-image:url(__JC__/images/mp_index_04.jpg);"></div>
</section>

<section class="main_primary">
  <div class="main_primary_inner">
    <div class="main_primary_tet text_t_l">
      <p class="tile"><span class="big">雷丁服务</span></p>
      <p class="tet">雷丁服务强调All-care服务理念，以“专业、快捷、安心、信赖”四大承诺为载体，<br>
      让您购车无忧。雷丁专业售后服务团队，以真诚的态度、真心想法和真挚的感情，<br>
      为雷丁车主提供专业的咨询、购车、保养、维修、售后跟进等全方位服务，<br>
      让每个人都能感受到雷丁金质服务的温暖。</p>
      <div class="btnlink_group">
        <a href="service.html" class="btnlink">了解详情&gt;&gt;</a>
      </div>
	</div>
  </div>
  <div class="mbg" style="background-image:url(__JC__/images/mp_index_06.jpg);"></div>
</section>
-->

